name: deploy

on:
  pull_request_target:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Build
        run: echo "Building the project..."

  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Release
        run: echo "Creating a release..."

  deploy:
    needs: release
    runs-on: ubuntu-latest
    steps:
      - name: Deploy
        run: echo "Desplegando..."
